.buttons {
  display: flex;
  align-items: center;

  &__log {
    border-color: transparent;
    margin-right: 15px;
    padding: 5px 5px;
    border-radius: 5px;
    transition: 0.3s;
    
    &:hover {
      background-color: black;
    }
  }

  &__toggler {
    width: 20px;

    &-close {
      background-color: transparent;
      border-color: transparent;
      padding: 0;
      color: #fff;
      font-size: 18px;
    }
  }
}
