.App {
  padding-top: 100px;
  background-color: $greyBackground;
  margin-bottom: 10px;

  @media (max-width: 1040px) {
    padding-top: 40px;
  }

  &__about-us {
    display: flex;
    justify-content: space-between;

    @include Bigger {
      justify-content: space-evenly;
    }
    
    @media (max-width: 1040px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__text {
    font-size: 13px;
    color: $greyColor;
  }

  &__download {
    margin-top: 30px;
  }

  &__workers {
    width: 100%;
    background-color: rgba(74, 57, 73);
    

    &-container {
      background: url('../images/backImg.webp');
      background-position: top center;
      background-size: contain;
      background-repeat: no-repeat;
      padding: 70px 0;
      color: $greyColor;
    }
  }

  &__swiper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    &::after {
      content: "";
      display: block;
      width: 22%;
      height: 2px;
      background-color: $afterColor;
    }
  }

  &__worker-phrase {
    text-align: center;
  }

  &__slider {
    margin-top: 30px;
  }

  &__worker-name {
    font-family: 'PT Serif';
  }

  &__phone-App {
    @media (max-width: 640px) {
      width: 80%;
    }
  }

  &__description {
    padding: 0 10px 30px;
    margin-top: 80px;

    @media (max-width: 1040px) {
      margin-top: 0;
    }
  }
}

.swiper {
  height: 300px;

  & &-pagination-bullet {
    width: 10px;
    height: 10px;
    line-height: 20px;
    font-size: 14px;
    background-color: #fff;
  }
}


