.content {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  @media (max-width: 850px) {
    flex-direction: column;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;

    @media (max-width: 1040px) {
      width: 300px;
    }

    @include large {
      width: 420px;
    }

    @media (max-width: 850px) {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    @include large {
      font-size: 28px;
    }

    &::after {
      content: "";
      display: block;
      width: 88px;
      height: 2px;
      background-color: $afterColor;
      margin: 0 auto;
    }
  }

  &__description {
    text-align: center;
    font-size: 13px;
    color: #000;
    padding: 0 5px;
    max-width: 360px;

    @media (max-width: 1040px) {
      max-width: 300px;
    }

    @include large {
      font-size: 20px;
      min-width: 420px;
    }
  }

  &__image {
    height: 107px;
    object-fit: contain;

    @include large {
      height: 150px;
    }
  }
}