html {
  font-family: 'Poppins';
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.button {
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  font-weight: 400;
  text-decoration: none;
}

a, button {
  cursor: pointer;
}

h1, h2, h3 {
  text-transform: uppercase;
}